name: Sample Service PR Check

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'samples/sample-service/**'
      - '.github/workflows/sample-service-pr-check.yml'

jobs:
  pr-check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.7'

      - name: Go build
        run: go build ./cmd/server/
        working-directory: samples/sample-service

      - name: Run tests
        run: make test
        working-directory: samples/sample-service
